ecash_www_root/ecash_shared/code/ECash/Service/aggregate.wsdl

<wsdl:definitions name="aggregate" targetNamespace="http://app.epm.sellingsource.com" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.epm.sellingsource.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://app.epm.sellingsource.com" version="1.0" xmlns:tns="http://app.epm.sellingsource.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="aggregateDTO">
    <xs:sequence>
      <xs:element name="service" type="xs:string" />
      <xs:element name="function" type="xs:string" />
      <xs:element name="args" type="xs:string" />
      <xs:element minOccurs="0" name="return_value" type="xs:string" />
      <xs:element minOccurs="0" name="errors" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="#all" name="aggregateDTOArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:aggregateDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AggregateCallResponse">
    <wsdl:part name="return" type="tns:aggregateDTOArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggregateCall">
    <wsdl:part name="calls" type="tns:aggregateDTOArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AggregateService">
    <wsdl:operation name="AggregateCall">
      <wsdl:input message="tns:AggregateCall" name="AggregateCall">
    </wsdl:input>
      <wsdl:output message="tns:AggregateCallResponse" name="AggregateCallResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aggregateSoapBinding" type="tns:AggregateService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AggregateCall">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="AggregateCall">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="AggregateCallResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="aggregate">
    <wsdl:port binding="tns:aggregateSoapBinding" name="AggregateServiceStandardPort">
      <soap:address location="https://live.ecash.atlas-lms.com/api/aggregate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
