ecash_www_root/ecash_shared/code/ECash/Service/doc.wsdl

<wsdl:definitions name="DocumentServiceStandardService" targetNamespace="http://service.document.epm.sellingsource.com/" xmlns:ns1="http://app.epm.sellingsource.com" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.document.epm.sellingsource.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="https://live.ecash.atlas-lms.com/api/document/index.php?wsdl=DocumentService.wsdl" namespace="http://app.epm.sellingsource.com">
    </wsdl:import>
  <wsdl:binding name="DocumentServiceStandardServiceSoapBinding" type="ns1:DocumentService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findDocumentById">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findDocumentById">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findDocumentByIdResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDocumentByName">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findDocumentByName">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findDocumentByNameResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDocumentHashById">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findDocumentHashById">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findDocumentHashByIdResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDocumentHash">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findDocumentHash">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findDocumentHashResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDocumentHash">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteDocumentHash">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteDocumentHashResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllDocumentHashesByApplicationId">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findAllDocumentHashesByApplicationId">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllDocumentHashesByApplicationIdResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDocumentByArchiveId">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findDocumentByArchiveId">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findDocumentByArchiveIdResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDocumentHash">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="saveDocumentHash">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="saveDocumentHashResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDocuments">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="saveDocuments">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="saveDocumentsResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteDocument">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteDocumentResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllDocumentsByApplicationId">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findAllDocumentsByApplicationId">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllDocumentsByApplicationIdResponse">
        <soap:body namespace="http://app.epm.sellingsource.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentServiceStandardService">
    <wsdl:port binding="tns:DocumentServiceStandardServiceSoapBinding" name="DocumentServiceStandardPort">
      <soap:address location="https://live.ecash.atlas-lms.com/api/document" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
